.nav__menu{
  padding: 30px 0px;
}
.nav__container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.nav__menu--link {

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.react-tabs__tab {
  cursor: pointer;
  margin-bottom: 39px;
  border-bottom: 3px solid #fff;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &--selected {

    position: relative;
    display: block;
    line-height: 24px;
    color: #11b0c8;
    border-bottom: 3px solid #11b0c8;
    transition: all .5s ease;

  }
}


.react-tabs__tab-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}