.nav__container{
  display: flex;
 
  justify-content: flex-start;
  padding: 30px 0px;
  flex-direction: column;
  
}

.nav__menu--link{
  
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.react-tabs__tab{
  cursor: pointer;
  margin-bottom: 39px;
  &:not(:last-child) {
    margin-right: 30px;
  }
  &--selected{
    transition: all .3s ease;
  position: relative;
  display: block;
  line-height: 24px;
  color:#11b0c8;
  &::after{
    transition: all .3s ease;
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 3px;
    background: #11b0c8;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    opacity: 1;
  }
}}


.react-tabs__tab-list{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
